:root {
  --dark: rgb(0, 0, 0);
  --darkLight: rgb(23, 23, 23);
  --aqua: rgb(5, 164, 176);
  --aquaLight: rgb(2, 187, 220);
}

body {
  background-color: var(--dark);
  background-image: url(../public/assets/images/galaxy.png);
  opacity: 80%;
  color: var(--aqua);
}

p {
  font-size: 250%;
  color: var(--aquaLight);
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.no-link{
  text-decoration: none;
}

.nav {
  background-color: var(--dark);
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  border: 50px;
  margin-bottom: 20px;
}

.nav h1 {
  display: block;
}

.nav h1:hover {
  color: rgb(255, 75, 138);
}

.nav a {
  display: block;
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.nav ul {
  display: flex;
  margin: 0 auto;
}

.nav li {
  font-size: 130%;
  margin: 0 auto;
  margin-left: 100px;
}

.nav a:hover {
  color: rgb(255, 75, 138);
  transform: scale(1.2);
}

.about-me{
  justify-content: center;
  align-items: center;
}

.about-me h3 {
  font-size: 400%;
  color: var(--aquaLight);
}


.container{
  margin-top: 20px;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  
}

.footer a {
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.footer a:hover {
  color: rgb(255, 75, 138);
  transform: scale(1.2);
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer li {
  margin-left: 50px;
  list-style: none;
}

.logoGh {
  height: 80px;
  width: 80px;
}

.logoIg {
  height: 50px;
  width: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
